$color:rgba(lightblue, .4);
$black:rgba(black, .5);
$section_height:450px;
$socialImgSize:150px;

body {
    height:100%;
	font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}
html {
    height:100%;
}

.Portfolio {
    .Navbar {
        background: linear-gradient(to right, lightgray, gray, silver);
        height:35px;
        text-align: right;
        .navItem {
            padding:5px;
            display: inline-block;
            cursor: pointer;
            height:100%;
        }
        .currentPage {
            background: rgba(green, .3);
        }
    }
    .Home {
        .Header {
            .title {
                margin-top: 5%;
                * {
                    color:rgba(white, .5);
                    font-family: monospace;
                }
            }
            text-align: center;
            height:$section_height;
            background: url('./../images/img4.jpg');
            .Scroller {
                height:50px;
                width: 100%;
                background-color: $black;
            }

        }

        .Body {
            z-index: -1;
            padding:10px;
            height:$section_height;
            background: url('./../images/proBG.jpg');
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            .bio {
               display: inline-block;
               height:90%;
               border:5px ridge $color;
               padding:10px;
               background: rgba(beige, .5);
               border-radius: 10px;
               p {
                   text-indent: 75px;
                   margin-top: 15%;
                   align-self: baseline;
                   font:{
                       size:22px;
                       family:Times;
                   }
               }
           }
           .pic {
               background: url('./../images/pic.png');
               background-size: cover;
               border-radius: 50%;
               display: inline-block;
               height:350px;
               width:350px;
               margin-top: 5%;
           }
        }

        .Footer {
            height:$section_height;
            background: url('./../images/img4.jpg');

            p{
                display: inline-block;
                margin-top: $section_height/2;
                font-size: 20px;
                color:rgba(white, .5);
            }

            .github {
                img {
                    height:$socialImgSize;
                    width:$socialImgSize;
                }
            }
            .linkedin {
                img {
                    height:$socialImgSize;
                    width:$socialImgSize;
                }
            }
            .googleplus {
                img {
                    height:$socialImgSize;
                    width:$socialImgSize;
                }
            }


            .github, .linkedin, .googleplus {
                img {
                    &:hover {
                        background: rgba(green, .5)
                    }
                    margin-top: 35%;
                    border-radius: 50%;
                }
                text-align: center;
                cursor: pointer;
                background-size: cover;
            }

        }
    }

    .Work {
        h2 {
            text-decoration: underline;
            font-weight: bold;
        }
        background-image: url('../images/img4.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding:5px;
        height:100%;
        color:rgba(white, .6);

        .AppPreview {
            padding:10px;
            display: flex;
            background: $black;
            height:$section_height;
            div{
                text-align: center;
                width:50%;
                padding:5px;
                img {
                    height:100%;
                    width:100%;
                    border:5px ridge $color;
                    &:hover{
                        transform: translateY(-2px);
                        box-shadow: 0 0 100px $color;
                    }
                }
                p {
                    padding:5px;
                }
            }
        }

        .GameManager {
            height:$section_height;
            background: $black;
            padding:10px;
            .GMNavbar {
                background: linear-gradient(to top right, silver, gray);
                color:$black;
                .currentPage {
                    background: rgba(green, .3);
                }
                .gmNavItem {
                    padding:5px;
                    display: inline-block;
                    cursor: pointer;

                    width:100%;
                }
                width:10%;
                height:100%;
                display: inline-block;
            }
            .GameWindow {
                display: inline-block;
                padding:15px;
                height:100%;
                .infoWrapper {
                    padding:10px;
                    background: $color;
                }

                .Game {
                    display: inline-block;
                    height:100%;
                    cursor: none;
                    background: $color;
                }
                .Nav {
                    vertical-align: top;
                    display: inline-block;
                    height:100%;

                    .currentPage {
                        background: $color;
                    }
                    div{
                        border:1px solid rgba(white, .6);
                        margin-top: 5px;
                        text-align: center;
                        padding:5px;
                        font-size: 26px;
                        &:hover{
                        }
                        height:48%;
                        background: $black;
                        cursor:pointer;
                    }
                }
            }
        }
    }
}
